<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <header>
        @{
            var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
        }
        <nav class="navbar navbar-expand-sm navbar-dark mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Steven Rivière</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item me-4">
                                <a class="nav-link @(currentPage == "/Home/Index" ? "active" : "")" asp-page="/Home/Index" aria-label="accueil">Accueil</a>
                            </li>
                            <li class="nav-item me-4">
                                <a class="nav-link @(currentPage == "/About/Index" ? "active" : "")" asp-page="/About/Index" aria-label="a propos">À propos</a>
                            </li>
                            <li class="nav-item me-4">
                                <a class="nav-link @(currentPage == "/Projects/Index" ? "active" : "")" asp-page="/Projects/Index" aria-label="projets">Projets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentPage == "/Contact/Index" ? "active" : "")" asp-page="/Contact/Index" aria-label="contacts">Contacts</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footerGlobal py-3">
        <nav class="container d-flex justify-content-between align-items-center">
            <p>&copy; 2025 - Portfolio</p>
            <nav class="iconsFooter" aria-label="Liens vers RS et contacts">
                <ul class="mediaList">
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/stevenriviere" rel="noopener noreferrer" aria-label="Profil LinkedIn nouvel onglet" title="LinkedIn">
                            <i class="fa-brands fa-linkedin fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/Steven-Riviere" rel="noopener noreferrer" aria-label="profil github nouvel onglet" title="GitHub">
                            <i class="fa-brands fa-github fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:sriver@hotmail.fr" aria-label="envoyer un mail à Steven nouvel onglet" title="Envoyer un mail">
                            <i class="fa-solid fa-envelope fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+33643934681" aria-label="Appeler le 06 43 93 46 81" title="Téléphone">
                            <i class="fa-solid fa-phone fa-xl"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/CV Steven backend.pdf" target="_blank" rel="noreferrer noopener" aria-label="Consulter le CV nouvel onglet" title="Lire mon CV">
                            <i class="fa-solid fa-file fa-xl"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </nav>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>